﻿<div id="builderPartial" data-ng-controller="BuilderController">
    <nav id="topNavBar">
        <img class="logo" src="content/img/logo_white.png" />
        <ul id="navbaritems">
            <li class="intro" ng-click="animateTo('#intro')">Home</li>
            <li class="builder selected">Builder</li>
            <li class="inspiration" ng-click="animateTo('#inspiration')">Inspiration</li>
            <li class="genre" ng-click="animateTo('#genre')">Genre</li>
            <li>Login</li>
        </ul>
    </nav>

    <div class="pane leftpane">
        <ul id="builder-left-menu">
            <li class="selected" ng-click="changePartType(0)">Head</li>
            <li ng-click="changePartType(1)">Neck</></li>
            <li ng-click="changePartType(2)">Frets</li>
            <li ng-click="changePartType(3)">Body</li>
            <li ng-click="changePartType(4)">Pickup</li>
            <li ng-click="changePartType(5)">Bridge</li>
            <li ng-click="changePartType(6)">Buttons</li>
        </ul>
    </div>
    <div class="pane centerpane">
        <span class="guitarname">Gitaarnaam: <input id="builder-name" type="text" ng-model="guitarname" /></span>
        <span class="guitarPrice">Totaal: {{ guitarPrice | currency: "€" }}</span>
        <canvas id="cnvshead"></canvas>
        <canvas id="cnvsneck"></canvas>
        <canvas id="cnvsfrets"></canvas>
        <canvas id="cnvsbody"></canvas>
        <canvas id="cnvspickup"></canvas>
        <canvas id="cnvsbridge"></canvas>
        <canvas id="cnvsbuttons"></canvas>
        <div id="saveBtn" ng-click="save(false, '')" class="fa fa-floppy-o fa-2x"></div>
        <div id="orderBtn" ng-click="order()">Bestellen</div>
        <div id="facebookshare" class="fa fa-facebook-official fa-2x" ng-click="share()"></div>
    </div>
    <div class="pane rightpane">
        <color-picker ng-model="color">
        </color-picker>
        <input id="rgbcolor"
               type="text"
               ng-model="color"
               ng-init="color = {{color}}"
               ng-bind="color" />
        <div class="material">
            <div class="arrow-left-material fa fa-angle-left fa-2x" ng-click="changeMaterial(false)"></div>
            <img class="materialimg" src="{{material}}" />
            <div class="arrow-right-material fa fa-angle-right fa-2x" ng-click="changeMaterial(true)"></div>
        </div>
    </div>
    <div class="pane lowerpane">
        <div class="greybar">
            Onderdelen {{selectedPartType}}
        </div>
        <ul>
            <li ng-repeat="guitarPart in guitarParts.doc | filter:selectedPartType" ng-click="modifyGuitarPart(guitarPart._id)">
                <img src="{{guitarPart.icon}}" />
            </li>
        </ul>
    </div>

</div>
