﻿<div id="cartPartial" data-ng-controller="CartController">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <nav id="topNavBar">
        <img class="logo" src="content/img/logo_white.png"/>
        <ul id="navbaritems">
            <li class="intro" ng-click="animateTo('#intro')">Home</li>
            <li class="builder selected">Builder</li>
            <li class="inspiration" ng-click="animateTo('#inspiration')">Inspiration</li>
            <li class="genre" ng-click="animateTo('#genre')">Genre</li>
            <li>Login</li>
        </ul>
    </nav>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Bestel je gitaar</h3>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    Naam: {{guitar.name}}
                </div>
                <div>
                    Type: {{guitar.type}}
                </div>
                <div>
                    Prijs: {{ guitarPrice | currency: "€" }}
                </div>
            </div>
        </div>
        <div id="orderForm" class="panel-body">
            <form method="post" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Volledige naam"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="street" placeholder="Straatnaam"/>
                    <input class="form-control" type="text" name="houseNumber" placeholder="Huisnummer"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="postcode" maxlength="6" placeholder="Postcode"/>
                    <input class="form-control" type="text" size="18" name="city" placeholder="Plaats"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" placeholder="Emailadres"/>
                </div>
                <button class="form-group btn btn-default" type="submit" name="orderSubmit">Bestel met <img class="idealIcon" src="content/img/iDEAL-icon.png"/></button>
            </form>
        </div>
    </div>
</div>