<div id="genrePartial">
    <div id="genreHeader">
        <h1>Genres</h1>

        <p>Keymusic maakt het mogelijk je gitaar te ontwerpen afgestemd op je favoriete muziekgenre. <br/> Kies
            hieronder binnen welke genre je jouw ontwerp wilt maken.</p>
    </div>
    <div id="genres">
        <div id="{{ genre.name }}" class="genre" ng-repeat="genre in genres">
            <div class="genreImageWrapper">
                <img ng-click="selectGenre(genre.name)" ng-src="{{ genre.image }}"/>
            </div>
            <h3 ng-bind="genre.name"></h3>
        </div>
    </div>
</div>