﻿<div id="homePartial" data-ng-controller="HomeController">
    <nav id="topNavBar">
        <img class="logo" src="content/img/logo_white.png" />
        <ul id="navbaritems">
            <li class="intro" ng-click="animateTo('#intro')">Home</li>
            <li class="genre" ng-click="animateTo('#genre')">Genre</li>
            <li class="builder" ng-click="animateTo('#builder')">Builder</li>
            <li class="inspiration" ng-click="animateTo('#inspiration')">Inspiration</li>
            <li id="account">
                <span id="accountName" ng-bind="user.first_name"></span>
                <ul id="accountMenu">
                    <li id="facebookButton">
                        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <ul id="navigationdots">
        <li class="intro" ng-click="animateTo('#intro')"></li>
        <li class="genre" ng-click="animateTo('#genre')"></li>
        <li class="builder" ng-click="animateTo('#builder')"></li>
        <li class="inspiration" ng-click="animateTo('#inspiration')"></li>
    </ul>

    <div id="intro" class="page" data-anchor="intro">
        <div class="introcontent">
            <h1>"<span class="orangetext">Design</span> your own guitar"</h1>
            <div class="introbutton" ng-click="animateTo('#builder')">Design</div>
            <div class="introbutton orangebackground" ng-click="animateTo('#inspiration')">Explore</div>
        </div>
    </div>

    <div id="genre" class="page" data-anchor="genre">
        <div ng-include="'partials/genre.html'"></div>
    </div>

    <div id="builder" class="page {{background}}" data-anchor="builder">
        <div id="builderContent">
            <h1>Go!</h1>
            <h1>design your own</h1>
            <div class="builderbutton orangebackground"><a class="" href="/#/builder">Naar de builder</a></div>
        </div>
    </div>

    <div id="inspiration" class="page" data-anchor="inspiration">
        <div ng-include="'partials/inspiration.html'"></div>
    </div>
</div>