<div class="total">
    <div class="inspirationHeader">Inspiration</div>
    <div class="inspirationPicsContainer">
        <div class="inspirationText">
            Opzoek naar inspiratie voor het ontwerpen van je eigen gitaar? Lees hier de verhalen van <br>
            bekende gitaristen met hun gitaar. Laat je per genre inspireren voor je eigen ontwerp. <br>


        </div>

        <div class="inspirationPhotos">
            <div class="{{ inspiration.size }}" ng-repeat="inspiration in inspirations">
                <img data-ng-click="openDetail();selectInspiration(inspiration)" ng-src="{{ inspiration.image }}"/>
            </div>
        </div>
        <div class="overlay">
            <!--<br><br><br><br>-->
            <!--<a data-ng-click="closeDetail()">Close</a>-->

            <img class="lightboxImg" ng-src="{{ selectedInspiration.image }}" />
            <img class="close" src="../content/img/inspiration/closeCross.png" data-ng-click="closeDetail()" />
            <div class="name">{{ selectedInspiration.name }}</div>
            <div class="band">{{ selectedInspiration.band }}</div>
            <div class="guitars">Gebruikte gitaren: 1 2 3 4 5</div>
        </div>

    </div>
</div>
