@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.total {
    margin-top: 100px;
}

.inspirationHeader {
    align: center;
    text-align: center;
    font-size: 50px;
    font-family: Ubuntu;
}

.inspirationText {
    font-family: Ubuntu;
    font-size: 15px;
}

.inspirationPicsContainer {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    /*max-width: 1110px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inspirationText {
    width: 100%;
    height: 50px;
    text-align: center;
    margin-botton: 50px;
}

.inspirationPhotos {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 00px;
    max-height: 500px;
}

.smallPhoto {
    width: 20%;
    height: 40%;
    max-width: 200px;
    max-height: 245px;
    min-width: 250px;
    min-height: 244px;
    flex-grow: 1;
    display: block;
    overflow: hidden;
    padding: 5px;
}

.bigPhoto {
    width: 40%;
    height: 244px;
    /*max-width: 400px;*/
    /*max-height: 245px;*/
    min-width: 300px;
    min-height: 150px;
    display: block;
    flex-grow: 2;
    margin: 0 auto;
    overflow: hidden;
    padding: 6px;
}

.smallPhoto > img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
}

.bigPhoto > img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
}

.bigPhoto > img:hover {
    cursor: pointer;
    transform: scale(1.05);
    position: relative;
    z-index: 10;
}

.smallPhoto > img:hover {
    cursor: pointer;
    transform: scale(1.04);
    position: relative;
    z-index: 10;
}

/* TEST WITH OVERLAY */

div.overlay {
    width: 650px;
    height: 400px;
    position: fixed;
    margin: 0 auto;
    left: calc(50% - 340px);
    top: calc(50% - 230px);
    /*margin-top: 75px;*/
    -moz-border-radius: 15px;
    border-radius: 15px;
    z-index: 0;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    opacity: 0;
    background-color: white;
    visibility: hidden;
    border: solid black 1px;
}

.a {
    background-color: #004444;
    position: relative;
    z-index: 3001;
}

.lightboxImg {
    width: 250px;
    height: 250px;
    margin: 10px 0 0 10px;
    border: solid red 2px;
    /*position: relative;*/
    float: left;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.close {
    position: relative;
    margin: 4px 4px 0 0;
    float: right;
    width: 50px;
    height: 50px;
    border: solid black 1px;
}

.close:hover {
    cursor: pointer;
}

.name {
    border: dotted blue 2px;
    width: 200px;
    margin: 10px 0 0 10px;
    /*position: relative;*/
    float: left;
    font-size: 25px;
    font-family: Ubuntu;
}

.band {
    float: right;
    margin-right: 50px;
    border: dotted red 2px;
    width: 500px;
}

.guitars {
    position: relative;
    margin-top: 200px;
}
