﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
    margin: 0px;
    padding: 0px;
}

body {
    height: 400%;
    overflow: hidden;
    font-family: 'Open Sans';
    margin: 0px;
}

nav {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: black;
    left: 0;
    top: 0;
    transition: background 0.8s ease-in-out 0.5s;
}

h1 {
    text-transform: uppercase;
}

#homePartial > nav {
    position: fixed;
}

nav.transparent {
    background-color: rgba(0, 0, 0, 0.00);
    transition: background 0.2s ease-in-out 0s;
}

nav > img.logo {
    width: 15%;
    padding: 10px;
}

ul {
    list-style: none;
}

nav > ul {
    float: right;
    text-align: right;
}

nav > ul > li {
    display: inline;
    margin: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

nav > ul > li.selected {
    color: #fb681c;
}

ul > li {
    color: white;
    cursor: pointer;
}

nav > ul > #account > #accountMenu {
    list-style-type: none;
    position: absolute;
    right: 10px;
    top: 32px;
    display: none;
}

nav > ul > #account:hover #accountMenu {
    display: block;
}

#content > div {
    padding-top: 100px;
}

#intro {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../content/img/guitar background.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
}

#builder {
    position: absolute;
    left: 0;
    top: 200%;
    width: 100%;
    height: 100%;
}

#inspiration {
    background-color: white;
    position: absolute;
    left: 0;
    top: 300%;
    width: 100%;
    height: 100%;
}

#genre {
    background-color: white;
    position: absolute;
    text-align: center;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
}

#genreHeader {
    width: 100%;
}

#genres {
    display: flex;
}

#genres > .genre {
    min-width: 50px;
    height: auto;
    flex: 1 1 0;
}

#genres > .selected {
    background-color: grey;
}

#genres > .genre > .genreImageWrapper {
    width: 100%;
    min-height: 200px;
    height: 500px;
    max-height: 600px;
}

#genres > .genre > .genreImageWrapper > img {
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

#genres > .genre > .genreImageWrapper > img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#navigationdots {
    z-index: 1000;
    position: fixed;
    top: 40%;
    right: 3%;
}

#navigationdots > li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 4px;
    cursor: pointer;
}

#navigationdots > li.selected {
    background-color: white;
}

a {
    text-decoration: none;
}

div.leftpane {
    top: 70px;
    left: 0px;
    bottom: 25%;
    width: 20%;
}

div.centerpane {
    top: 70px;
    left: 20%;
    bottom: 25%;
    width: 60%;
}

div.rightpane {
    top: 70px;
    right: 0px;
    bottom: 25%;
    width: 20%;
}

div.lowerpane {
    bottom: 0px;
    top: 75%;
    width: 100%;
}

div.pane {
    position: absolute;
}

/*new*/
#builder-left-menu {
    width: 80%;
    margin-left: 10%;
    padding: 0px;
}

#builder-left-menu > li {
    background-color: #ff5000;
    color: white;
    padding: 2% 0% 2% 20%;
    margin: 7%;
    transition: all 0.2s ease-in;
}

#builder-left-menu > li.selected, #builder-left-menu > li:hover {
    margin-right: 0%;
    transition: all 0.2s ease-in;
    background-color: black;
}

div.lowerpane > ul > li {
    float: left;
}

div.lowerpane > ul > li > img {
    width: 50%;
    min-width: 50px;
    max-height: 80px;
    margin-left: 15px;

}

div.greybar {
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: white;
}

#cnvshead, #cnvsneck, #cnvsfrets, #cnvsbody, #cnvspickup, #cnvsbridge, #cnvsbuttons {
    position: absolute;
    top: 70px;

}

#cnvsbody {
    width: 252px;
    height: 200px;
    z-index: 20;
}

#cnvsneck {
    width: 272px;
    height: 34px;
    top: 150px;
    left: 235px;
}

#cnvshead {
    width: 146px;
    height: 102px;
    left: 500px;
    top: 119px;
    z-index: 10;
}

#cnvsfrets {
    width: 272px;
    height: 34px;
    top: 150px;
    left: 235px;
    z-index: 5;
}

#cnvspickup {
    width: 36px;
    height: 43px;
    z-index: 100;
    top: 145px;
    left: 145px;
}

#cnvsbridge {
    width: 5px;
    height: 57px;
    z-index: 100;
    left: 60px;
    top: 140px;
}

#cnvsbuttons {
    width: 22px;
    height: 14px;
    z-index: 100;
    left: 50px;
    top: 210px;
}

div.angular-color-picker {
    border: none;
    padding: 6px;
}

div.introcontent {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Ubuntu;
    font-size: x-large;
    text-transform: uppercase;
    margin-top: 200px;
}

div.introcontent > h1 {
    font-family: 'Gill Sans MT';
    font-style: italic;
}

div.introbutton {
    border: 3px solid #ff5000;
    width: 33%;
    float: left;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    font-size: small;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5)
}

div.orangebackground {
    background-color: #ff5000;
}

.orangetext {
    color: #ff5000;
}

#builderContent {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: x-large;
}

div.builderbutton {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    cursor: pointer;
    font-size: small;
    padding: 5px 10px 5px 10px;
    border: 3px solid #ff5000;
}

div.builderbutton > a {
    color: white;
    font-family: Ubuntu;
    text-transform: uppercase;

}

div.background1 {
    background-image: url('../content/img/7-guitars-background.jpg');
    transition: background 1s ease-in;
    background-repeat: no-repeat;
    /*background-size: 100% auto;*/
    background-size: 100% 100%;
}

div.background2 {
    background-image: url('../content/img/21-guitars-background.jpg');
    transition: background 1s ease-in;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

div.background3 {
    background-image: url('../content/img/7-guitars-background.jpg');
    transition: background 1s ease-in;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.guitarPrice {
    position: absolute;
    top: 12px;
}

/*material*/
div.material > div, div.material > img {
    float: left;
}

img.materialimg {
    width: 40%;
    margin: 1%;
}

div.arrow-left-material, div.arrow-right-material {
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
}

span.guitarname {
    position: absolute;
    top: 12px;
    right: 10px;
}

#saveBtn {
    position: absolute;
    right: 100px;
    bottom: 10px;
    cursor: pointer;
    z-index: 3000;
}

#orderBtn {
    position: absolute;
    right: 0px;
    bottom: 10px;
    cursor: pointer;
    background-color: #ff5000;
    padding: 5px;
    color: white;
    z-index: 3001;
}

div.rightpane {
    z-index: 2000;
}

#builder-name {
    border: none;
    color: #ff5000;
    font-size: medium;
    font-family: 'Open Sans';
}

#builder-name.warning {
    border: 2px solid red;
}

#facebookshare {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}

#cartPartial {
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.idealIcon {
    height: 30px;
    width: 30px;
}